<ul id="account-menu">
    <li><a th:href="@{/account}" th:text="#{account.menu.accountInformation}">Account Information</a></li>
    <li><a th:href="@{/account/orders}" th:text="#{account.menu.viewOrders}">View Orders</a></li>
    <li><a th:href="@{/account/password}" th:text="#{account.menu.changePassword}">Change Password</a></li>
    <li><a th:href="@{/account/addresses}" th:text="#{account.menu.manageAddresses}">Manage Addresses</a></li>
    <li><a th:href="@{/account/wishlist}" th:text="#{account.menu.manageWishlist}">Manage Wishlist</a></li>
    <li><a th:href="@{/contactus}" th:text="#{account.menu.contactUs}">Contact Us</a></li>
</ul>
