<div id="account">  
    <div style="display:none;" th:fragment="title" th:inline="text">Contact Us - dathang24h.net</div>
    
    <div id="contactus">
        <h3 th:text="#{account.contact_us.leave_a_message}">Leave Us A Message</h3>
        
        <div class="clearfix">
	<blc:form id="contactUsForm" th:action="@{/contactus/success}" method="post">
	  <div class="form50">
	    <label for="name" th:text="#{account.contact_us.name}">Name</label> <input type="text" name="name" class="field50" />
	  </div>
	  <div class="form50">
	    <label for="emailAddress" th:text="#{account.contact_us.email}">Email</label> <input type="email" name="emailAddress" class="field50" />
	  </div>
	  <div class="form50">
	    <label for="comments" th:text="#{account.contact_us.what_should_we_know}">What should we know?</label> <textarea type="text" name="comments" class="field50" />
	  </div>
	  <div class="login_register">
	    <input class="submit big red" type="submit" value="Submit" th:value="#{account.contact_us.submit}" />
	  </div>
	  </blc:form>
        </div>
    </div>
</div>
